body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}